@font-face {
    font-family: "Highway Gothic";
    src: url("../assets/fonts/Highway-Gothic.TTF") format("truetype");
}

/* Menu setup */

html,
body {
    min-height: 100%;
    margin: 0;
    background-color: black;
}

body {
    min-height: 100vh;

    background-image: url("../assets/images/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
    font-family: "Highway Gothic", sans-serif;
    color: white;
}

.title,
h1,
p {
    color: white;
}

/* Navbar Setup */

.navbar {
    width: 720px;
    height: 720px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;

    padding: 0 24px;
    box-sizing: border-box;

    background-color: #202e3380;
    color: white;

    font-family: "Highway Gothic", sans-serif;
}

/* Roblox Account User */

.navbar-RobloxUser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    width: 100%;
    height: 75px;

    font-size: 32px;
}

.navbar-TextBox {
    width: 250px;
    height: 40px;

    padding: 0 12px;
    box-sizing: border-box;

    font-family: "Highway Gothic", sans-serif;
    font-size: 20px;
    color: white;

    background-color: #202e33;
    border: 2px solid #52666d;
    border-radius: 4px;

    outline: none;
}

.navbar-Button {
    width: 120px;
    height: 40px;

    font-family: "Highway Gothic", sans-serif;
    font-size: 20px;
    color: white;

    background-color: #354950;
    border: 2px solid #52666d;
    border-radius: 4px;

    cursor: pointer;
}

.navbar-Button:hover {
    background-color: #7197a4;
}

.navbar-Button:active {
    background-color: #202e33;
}

/* Main config / setup */

main {
    position: absolute;

    top: 20px;
    left: 20px;
    
    padding: 20px;
    color: white;
}